body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  background:#f5f7fa;
  padding: 40px 20px;
}

a {
  text-decoration: none;
}

.header__menu-icon {
  display: none;
}

.wrapper {
  background: #ffffff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
.sidebar {
  display: flex;
  flex-direction: column;
  background: #1e2939;
  width: 370px;
  padding: 40px 0;
}

.main {
  padding: 110px 90px;
}

.contacts, .tech-skills, .soft-skills {
  margin: 54px 0 0 40px;
  box-sizing: border-box;
  color: #ffffff;
}

.avatar {
  max-width: 370px;
  max-height: 354px;
  object-fit: cover;
  
}

.title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.contacts-link {
  color: #535b67;
  text-decoration: none;
}

.contacts-link-type {
  font-weight: 700;
  margin-right: 10px;
}

.skills-list {
  padding-left: 15px;
}

.skills-item {
  color: #ff6b08;
}

.skills-item-text {
  color:  #a9acaf;
}

.prof {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.profession {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
}

.name {
  font-size: 45px;
  font-weight: 700;
  color: #000000;
  line-height: 60px;
}

 .tech-name {
  color: #595959;
  font-weight: 700;
}

.text {
  color: #595959;
}

.about-me {
  margin-bottom: 64px;
}

.description {
  max-width: 413px;
  
}

.block-name {
  font-size: 22px;
  font-weight: 700;
  color: #000000;
}

.bracket {
  color: #ff6b08;
  font-weight: 700;
}

.project-item {
  color: #ff6b08;
  font-weight: 700;
}

.dots {
  font-weight: 400;
}

.projects-list {
  padding-left: 15px;
  display: grid;
  grid-template-rows: repeat(5, 3fr);
  grid-template-columns: repeat(2, 50%);
}

.projects-link {
  color: #595959;
  text-decoration: none;
  font-weight: 400;
}

.projects-container {
  margin-bottom: 52px;
}

h4 {
  padding-right: 15px;
}

.profession-name {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 14px;
}

.orange-title,
.orange-title-nn {
  color: #ff6b08;
  font-size: 16px;
  font-weight: 700;
}

.time-period {
  color: #a8a8a8;
  font-size: 12px;
}

.devider {
  color: #000000;
  margin:0 8px;
}

.list {
  padding-left: 15px;
}

h5 {
line-height: 0;
}

@media(max-width: 1150px) {

  .projects-list {
    display: block;
  }

  .prof {
    display: flex;
    flex-direction: column;
  }

  h4 {
    line-height: 0;
  }

  .orange-title-nn {
    line-height: 16px;
  }

  h5 {
    line-height: 12px;
  }
}

@media(max-width: 690px) {

  .projects-container {
      display: none;
  }

  .sidebar {
      display: none;
  }

  .name {
      font-size: 30px;
  }

  .header__menu-icon {
      position: relative;
      display: inline-block;
      width: 25px;
      height: 17px;
      
    }
  
    .header__menu-icon span {
      display: block;
      position: absolute;
      width: 25px;
      height: 3px;
      background: #000000;
      cursor: move;
      
    } 
  
    .header__menu-icon span:nth-child(1) {
      top: 2px;
    }
  
    .header__menu-icon span:nth-child(2), .header__menu-icon span:nth-child(3) {
      top: 9px;
    }
  
    .header__menu-icon span:nth-child(4) {
      top: 16px;
    }
    
    .me {
        display: flex;
        justify-content: space-between;
    }
}
